<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4),rgba(0,36,60,0.4)), url(<%= image_url('cocktails.jpg') %>);">
  <div class="container">
    <h1>Cocktail o'clock!</h1>
    <p>Tick, tock, it's cocktail o'clock </p>
  </div>
</div>
<h1 class="text-center m-2 p-2" id="main-title">Cocktail List</h1>
<div class="container">
  <div class="row">
    <div class="cards m-2">
      <% @cocktails.each do |cocktail| %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill unless cocktail.photo.blank? %>');">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
